
{% extends "base.html" %}

{% block title %}Books List{% endblock %}

{% block content %}
  <h1>Hello, this is our selection of books:</h1>
  <!--    unordered list. li -> list item. -->
  <form action="/search" method="get" >
    <label for="q">Search</label>
    <input type="text" id="q" name="q" > <br>
    <input type="submit" value="Submit">
  </form>
  <ul>
  <!--      template jinja.-->
    {% for book in books %}
      <li>
        <details>
          <summary class="book_title" >

            <span>{{ book.title }}</span>
            <a href="{% url 'user_books' book.user.id %}" >{{ book.user }}</a>

          </summary>
          <div>
            {{ book.content }}
            <p>by {{ book.author }}</p>
          </div>
          <a href="{% url 'delete_book' book.id %}">🗑️</a>
          <a href="{% url 'update_book' book.id %}">✍️</a>
        </details>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
