
{% extends "base.html" %}

{% block title %}Books List{% endblock %}

{% block content %}
  <h1>Hello, this is our selection of books:</h1>
  <!--    unordered list. li -> list item. -->
  <ul>
  <!--      template jinja.-->
    {% for book in books %}
      <li>
        <details>
          <summary class="book_title" >

            <span>{{ book.title }}</span>

            <span>by {{ book.author }}</span>

          </summary>
          <div>
            {{ book.content }}
          </div>
          <a href="{% url 'delete_book' book.id %}">🗑️</a>
          <a href="{% url 'update_book' book.id %}">✍️</a>
        </details>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
