
{% extends "base.html" %}

{% block title %}Books List{% endblock %}

{% block content %}
  <h1>Hello, this is our selection of books:</h1>
  <!--    unordered list. li -> list item. -->
  <form action="/search" method="get" >
    <label for="q">Search</label>
    <input type="text" id="q" name="q" > <br>
    <input type="submit" value="Submit">
  </form>
  <ul>
  <!--      template jinja.-->
    {% for book in page_obj %}
      <li>
        <details>
          <summary class="book_title" >

            <span>{{ book.title }}</span>
            {% if book.image %}
              <br>
              <img src="{{ book.image.url }}" width="150">
            {% endif %}
            <a href="{% url 'user_books' book.user.id %}" >{{ book.user }}</a>

          </summary>
          <div>
            {{ book.content }}
            <p>by {{ book.author }}</p>
          </div>
          <a href="{% url 'delete_book' book.id %}">🗑️</a>
          <a href="{% url 'update_book' book.id %}">✍️</a>
        </details>
      </li>
    {% empty %}
      <li>No Books Found.</li>
    {% endfor %}
  </ul>

  <div>
    {% if page_obj.has_previous %}
      <a href="?page=1">First</a>
      <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    <span>
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </span>

    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">Next</a>
      <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}
  </div>

{% endblock %}
